@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/Login")
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
    //~/bundles/login   

}
<h2>Index</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <label>Login:</label><br />
        <input type="text" maxlength="70" name="Login_User" /><br />
        <label class="LoginMsg" style="display:none;">Campo de login vazio</label><br />

        <label>Senha:</label><br />
        <input type="password" maxlength="70" name="Login_senha" /><br />
        <label class="SenhaMsg" style="display:none;">Campo de senha vazio</label><br />
        <label class="mensagem">@ViewBag.mensagen</label>

        //@Html.ActionLink("Esqueci a senha ou login", "Login", "RecuperacaoDeConta", null, new { @class = "recupera" })
        //@Html.ActionLink("Registrar", "Login", "Registrar", null, null)
    }
    <button class="btn btn-default btt-Logar">Logar</button>
        
    <button class="btn btn-danger Btt_Registrar" onclick="location.href = '/Login/Registrar';">Registrar</button><br />
    <button class="btn btn-danger btt_recuperar" link="ll">Esqueci a senha ou login</button><br />
</div>


